/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
}
    
body {
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */

header {
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: rgb(151, 151, 151);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #80D8FF;
    transform: scale(1.08);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.logo img {
    width: 100px
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #80D8FF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button hover {
    box-shadow: 0 0 10px #1ba7e4;
}